<% content_for :title do %>
  Página Inicial
<% end %>
<div class="row">
  <div class="col-lg-4 col-12">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= @tickets_opened %></h3>

        <p>Chamados abertos</p>
      </div>
      <div class="icon">
        <i class="fas fa-history"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= @tickets_closed %></h3>

        <p>Chamados encerrados</p>
      </div>
      <div class="icon">
        <i class="fas fa-clipboard-check"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="small-box bg-primary">
      <div class="inner">
        <h3><%= @tickets_attend %></h3>

        <p>Chamados em atendimento</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-clock"></i>
      </div>
    </div>
  </div>
</div>
