<div class="card card-primary">
    <div class="card-header">
    <h3 class="card-title">Novo chamado</h3>
    </div>
    <div class="card-body">
        <%= render 'form', ticket: @ticket %>
    </div>
</div>